.contact-root {
    margin-top: 50px;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 600px;
    border-radius: 15px;
    color: aqua;
}

.contact-root h1{
    margin: 50px auto 10px auto;
}
.contact-root p{
    margin-bottom: 20px;
}

.contact-info{
    margin-top: 40px;
    margin-bottom: 50px;
}

a{
    display: flex;
    justify-content: center;
}

a img{
    opacity: 0.8;
    border-radius: 15px;
    max-width: 600px;
    max-height: 600px;
}